<h1>Editing Validic Configuration</h1>


<%= form_for(@validic_configuration) do |f| %>
  <% if @validic_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@validic_configuration.errors.count, "error") %> prohibited this validic_configuration from being saved:</h2>

      <ul>
      <% @validic_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :secret %><br>
    <%= f.text_field :secret %>
  </div>
  <div class="field">
    API Key
    <%= f.text_field :api_key %>
  </div>
  <div class="field">
    Bjönd Person ID
    <%= f.text_field :sample_person_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @validic_configuration %> 
